footer {
    display: flex;
    gap: 5rem;
    padding-bottom: 4rem;
    position: relative;
}

.footer-bg .footer-wave {
    position: absolute;
    transform: translateY(-90%);
}

footer :where(h3, p) {
    margin: 0;
}

footer.container > .column {
    display: flex;
    flex-flow: column;
}

footer.container > .column > * {
    flex: 30px 0;
}

.footer-bg {
    color: var(--pink);
    margin-top: 10rem;
}

footer a {
    color: unset;
    text-decoration: none;
}
