.writer-title {
    position: relative;
    width: max-content;
    --chars: 12;
    --duration: 2s;
    --write-animation: var(--duration) write steps(var(--chars)) forwards;
    --delete-animation: var(--duration) calc(var(--duration) + 3.5s) delete steps(var(--chars)) forwards;
}

.writer-title::before {
    background: var(--primary);
}


.writer-title::before,
.writer-title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.writer::after {
    width: 1ch;
    background: var(--secondary);
    animation: var(--write-animation), var(--delete-animation),
    1s calc(var(--duration) + .5s) blink infinite;
}


.writer::before {
    animation: var(--write-animation), var(--delete-animation);
}

@keyframes write {
    to {
        left: 100%;
    }
}

@keyframes delete {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.blink-caret::after {
    animation: 1s blink calc(var(--duration) + .5s) infinite;
}

@keyframes blink {
    20%, 80% {
        background-color: var(--primary);
    }
}

@keyframes blink2 {
    20%, 80% {
        background-color: var(--primary);
    }
}

.string {
    color: #008000;
}

.instance-function {
    color: #7A7A43;
}

.keyword {
    color: #000080;
}

.instance-member {
    color: #660E7A;
}

@media (prefers-color-scheme: dark) {
    .string {
        color: #6A8759;
    }

    .instance-function {
        color: #FFC66D;
    }

    .keyword {
        color: #CC7832;
    }

    .instance-member {
        color: #9876AA;
    }
}
