.App {
  display: grid;
  grid-template: auto minmax(100vh, auto) auto / 100%;
}

.first {
  padding: 3rem 0;
  text-align: center;
  font-size: clamp(1rem, 1rem + .5vw, 4.5rem);
  height: 100%;
  display: flex;
  flex-flow: column;
}

.presentation {
  font-size: clamp(1rem, 1rem + 2vw, 4.5rem);
}
