:root {
  --black: #151e24;
  --white: #f1fff4;
  --pink: #ffd6ff;
}

:root, body.dark {
  --primary: var(--black);
  --secondary: var(--white);
}

body.light {
  --primary: var(--white);
  --secondary: var(--black);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: var(--white);
    --secondary: var(--black);
  }
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary);
  color: var(--secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

