:root {
  --black: #151e24;
  --white: #f1fff4;
  --pink: #ffd6ff;
}

:root, body.dark {
  --primary: var(--black);
  --secondary: var(--white);
}

body.light {
  --primary: var(--white);
  --secondary: var(--black);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: var(--white);
    --secondary: var(--black);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary);
  color: var(--secondary);
}
